@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

body{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  position: relative;
}

/**Login Component**/
.loginComponent{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginButton{
  font-size:18px;
}

.loginButton.button.hollow:hover{
  background-color: #000;
  color:#fff;
}

/**Button Styles**/
button{
  outline:none;
}

.button, .button:focus{
  background-color:#7b7f85;
  outline:none;
}

.button:hover{
  background-color:#000;
}

.button.hollow, .button.hollow:hover, .button.hollow:focus {
    border-color: #7b7f85;
    color: #7b7f85;
    outline:none;
}

/**Header Styles**/
h1{
  float: left;
}
h1, h2, h3, h4{
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

/**Header Styles**/

.header{
  display: flex;
    align-items: baseline;
    padding:30px 15px 10px;
}

.logoutButton{
  float:left;
  margin-bottom: 0.5rem;
  margin-left: 10px;
}

/**Tag Styles**/
.mainTag:hover{
  cursor:pointer;
}

.tagReset{
  margin-bottom: 10px;
}

.tagBackground{
  margin-left: 20px;
}

/**Tweet Styles**/
.tweetList{
  margin-bottom: 41px;
}

.tweetContainer{
  border: 1px solid #7b7f85;
      padding: 0 10px 10px;
      margin-bottom: 5px;
      background-color:#fff;
      display: block;
    overflow: auto;
}

.twitter-tweet.twitter-tweet-rendered{
  width: 100% !important;
}

.tweetContainer .button-group {
  float: right;
        margin-top: 11px;
        margin-bottom: 0;
}

.tweetContainer .tag{
  float:left;
  padding:0 5px;
  color:#7b7f85;
  border:1px solid #7b7f85;
  margin-right: 5px;
}

.tweetContainer .tag:hover{
  color:#000;
  border:1px solid #000;
}

.noError{
  display:none;
}


/**Group Delete Styles**/
.gdButton{
  display: none !important;
  position:fixed;
  bottom:0;
  left:0;
  margin-bottom: 0;
}

.groupDelete.gdButton{
  display: block !important;
}

/**Misc Styles**/
ul{
  margin-left: 0;
  list-style: none;
}

#upButton{
  position:fixed;
  bottom:50px;
  right:10px;
  font-size:40px;
  color:#7b7f85;
}

@media only screen and (max-width: 40em) {
.mainTag{
  float:left;
  width:33%;
}
h1{
  font-size:2rem;
}
h2{
  margin-top:30px;
  font-size:1.5rem;
}
}
